POSTGRES_USER=unleash
POSTGRES_PASSWORD=replace_me_with_a_random_hex_password
POSTGRES_DB=unleash
UNLEASH_DEFAULT_ADMIN_USERNAME=shapeandflow-admin
UNLEASH_DEFAULT_ADMIN_PASSWORD=replace_me_with_a_random_admin_password
INIT_ADMIN_API_TOKENS=*:*.<replace_me_with_a_random_admin_api_token>
UNLEASH_FRONTEND_API_ORIGINS=https://buchung.shapeandflow.de,https://stage.buchung.shapeandflow.de,https://dev.buchung.shapeandflow.de,https://shapeandflow.de,https://stage.shapeandflow.de,https://dev.shapeandflow.de,http://localhost:5173,http://localhost:3000

